<div id="streamContainer">
    <div>
        <h3>Stream of sarcasm</h3>
    </div>

    <a class="btn btn-lg btn-primary" data-ng-href="/#/new">
        <i class="fa fa-edit fa-lg pull-left"></i> New
    </a>

    <a class="btn btn-lg btn-primary" data-ng-href="/#/downvote">
        <i class="fa fa-thumbs-o-down fa-lg pull-left"></i> I don't like
    </a>

    <a class="btn btn-lg btn-primary" data-ng-href="/#/upvote">
        <i class="fa fa-thumbs-o-up fa-lg pull-left"></i> I like
    </a>

    <a class="btn btn-lg btn-primary" data-ng-href="/#/new">
        <i class="fa fa-comments fa-lg pull-left"></i> Comments
    </a>

</div>